.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

body {
  font-size: 16px;
  background-color: #f2f2f2;
  color: white;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
}
h1,h2,h3 {
  font-family: 'Amaranth', sans-serif;
  color: white;
}

.container {
  width: 75%;
  margin: 0 auto;
}

header,footer {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #96b011;
}

.livraison {
  display: block;
  text-align: center;
  padding: 10px 0;
  background-color: rgba(122, 144, 14, 0.73);
}

.logoPrice {
  margin-top: 30px;
}

.logo {
  float: left;
}

.cart {
  float: right;
  margin-top: 15px;
}
.cart i{
  display: inline-block;
  float: left;
  font-size: 2rem;
  padding-left: 10px;
}

.price {
  float: left;
}

ul.navlist {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px 0;
}

ul.navlist a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.5s;
}

ul.navlist a:hover {
  background-color: rgba(122, 144, 14, 0.73);
  transform: translateY(-10px);
}




.bigPhoto {
  background-color: white;
  padding: 10px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(138,133,138,1);
  -moz-box-shadow: 0px 0px 13px 0px rgba(138,133,138,1);
  box-shadow: 0px 0px 13px 0px rgba(138,133,138,1);
  position: relative;

}

.teaImage img {
  width: 100%;
  display: block;
}

.badge {
  padding: 10px;
  width: 250px;
  background-color: rgba(122, 144, 14, 0.73);
  color: white;
  position: absolute;
  top: 20px;
 
}

.badge p {
  text-align: left;
}

.teas {
    background-color: white;
  padding: 10px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(138,133,138,1);
  -moz-box-shadow: 0px 0px 13px 0px rgba(138,133,138,1);
  box-shadow: 0px 0px 13px 0px rgba(138,133,138,1);
}

.teas h2,h3 {
  color: #636363;
}
.teas h3 {
  text-transform: uppercase;
  display: block;
  text-align: center;
}


.teas:hover li {
  opacity: 0.5;
}

.teas li {
}

.teas li:hover {
  opacity: .8;
} 


ul.tealist {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul.tealist img {
  max-width: 100%;
  display: block;
}

.threeSegments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;
}

.segment {
  width: 32%;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(138,133,138,1);
  -moz-box-shadow: 0px 0px 13px 0px rgba(138,133,138,1);
  box-shadow: 0px 0px 13px 0px rgba(138,133,138,1);
}
.segment img {
  width: 100%;
  display: block;
}

.segment h3,.segment p {
  text-align: center;
  margin: 5px 0;
  color: #636363;
}

.segment h2 {
  padding: 10px;
}

.pink {
  background-color: #e26a6a;
}

.orange {
  background-color: #f4b350;
}

.blue {
  background-color: #4ecdc4;
}

footer {
  padding-bottom:30px;
}

ul.footerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(122, 144, 14, 0.73);
  padding: 20px 0; 
}

ul.footerNav i {
  display: block;
  text-align: center;
  font-size: 25px;
}

ul.footerNav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
}

.footerLists {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.footerLists a {
  text-decoration: none;
  color: white;
  line-height: 1.5;
  font-size: 10px;
  opacity: 0.7;
}

.footerLists h3 {
  color: white;
  text-transform: uppercase;
  margin: 10px 0;
}












/*MEDIA QUERIES */

@media (max-width: 768px) {
  
  .cart {
    display: none;
  }

ul.navlist {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
}

ul.navlist a {
  text-align: center;
}
ul.tealist {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.threeSegments {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.segment {
  width: 100%;
  margin-bottom: 30px;
}
ul.footerNav {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

}
ul.tealist img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.footerLists {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.footerLists ul {
  line-height: 2;
}
  footer {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #96b011;
}
.footerLists a {

  font-size: 16px;
}
 header {
  background-position: -200px bottom;
 }

 footer {
  background-position: -100px bottom;
 }

}